Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  -bugprone-command-processor,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -performance-enum-size,
  -portability-avoid-pragma-once
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
